# Python cache dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal Ortam (Çok Önemli - Bunu sakın yükleme)
venv/
env/
.env

# Veritabanı (İçinde gerçek veriler var, yükleme)
*.db
*.sqlite3
instance/

# IDE Ayarları (VS Code vb.)
.vscode/
.idea/

# Log dosyaları
*.log

# Windows thumbnail dosyaları
Thumbs.db