# Sanal Ortam (Binlerce dosya yüklenmesin)
venv/
env/

# Veritabanı (İçinde gerçek veriler var, yükleme!)
*.db
*.sqlite3
instance/

# Python Cache Dosyaları (Gereksiz)
__pycache__/
*.pyc

# Gizli Anahtarlar (GÜVENLİK İÇİN ÇOK ÖNEMLİ)
.env

# Yüklenen Dosyalar (Kullanıcı verileri gitmemeli)
uploads/

# IDE Ayarları
.vscode/
.idea/